/*
Custom style for thaiunitarians.org
based on Humanity theme
Theme URI:http://themewagon.com
Author:Themewagon
Author URI:http:themewagon.com/
*/

body{
	background: rgba(255,255,255,1);
}

.logo{
	position: relative;
	top:-120px;
}

.nav{
	max-height: 150px;
}

.carousel-control{
	top: 50%;
}

.white p{
	color: white;
}
