/*
Custom style for thaiunitarians.org
based on Humanity theme
Theme URI:http://themewagon.com
Author:Themewagon
Author URI:http:themewagon.com/
*/

.logo{
	position: relative;
	top:-120px;
}

.nav{
	max-height: 150px;
}

.carousel-control{
	top: 50%;
}
