---
layout: landing
title: 'Home'
permalink: 'index.html'
lang: 'en'
---

{% include carousel-en.html %}

<!-- Main text -->
<div class="col-sm-12 col-xs-12 col-md-12">
  <div class="container header-start text-center">
    <div class="heading-icon">
      <i class="fa fa-3x fa-fire"></i>
    </div>
    <h1 class="main-text">Freedom &middot; Reason &middot; Tolerance</h1>
    <p class="text-center sub-text">
      <em class="first-line">Unitarianism is an open-minded religion that encourages religion freedom and individual quest for truth. </em>
      <em class="next-line">We recognise that it is a person's right to freely find their own belief through their own reason, while respecting the beliefs of others.</em>
    </p>
  </div>
</div>

<!-- Featured articles-->
<div class="item col-md-4">
  <div class="blok-read-sm">
    <a href="single1.html" class="hover-image">
      <img src="{{ site.baseurl }}/img/cover1.jpg" alt="image">
      <span class="layer-block"></span>
    </a>
    <div class="editor-choice">
      <i class="fa fa-star"></i>
      <a href="#">Editor’s Choice</a>
    </div>
    <div class="content-block">
      <span class="point-caption bg-blue-point"></span>
      <span class="bottom-line bg-blue-point"></span>
      <h4>What is a Unitarian?</h4>
      <p>Unitarianism is one of the oldest non-conformist religions with hundreds of thousands of members worldwide.</p>
      <div class="button-main bg-fio-point">read more</div>
    </div>
  </div>
</div>

<div class="item col-md-4">
  <div class="blok-read-sm">
    <a href="single1.html" class="hover-image">
      <img src="{{ site.baseurl }}/img/cover2.jpg" alt="image">
      <span class="layer-block"></span>
    </a>
    <!-- <div class="editor-choice">
      <i class="fa fa-star"></i>
      <a href="#">Editor’s Choice</a>
    </div> -->
    <div class="content-block">
      <span class="point-caption bg-blue-point"></span>
      <span class="bottom-line bg-blue-point"></span>
      <h4>History of Unitarianism</h4>
      <p>Uniratianism developed itself independently in various countries, with more than 400 years of history to be told.</p>
      <div class="button-main bg-fio-point">read more</div>
    </div>
  </div>
</div>

<div class="item col-md-4">
  <div class="blok-read-sm">
    <a href="single1.html" class="hover-image">
      <img src="{{ site.baseurl }}/img/cover3.jpg" alt="image">
      <span class="layer-block"></span>
    </a>
    <!-- <div class="editor-choice">
      <i class="fa fa-star"></i>
      <a href="#">Editor’s Choice</a>
    </div> -->
    <div class="content-block">
      <span class="point-caption bg-blue-point"></span>
      <span class="bottom-line bg-blue-point"></span>
      <h4>Get Involved</h4>
      <p>Anyone can be a Unitarian, regardless of their beliefs and religions. There are many ways to get involved with other Unitarians in Thailand.</p>
      <div class="button-main bg-fio-point">read more</div>
      <!-- <div class="like-wrap">
        <a href="#"><i class="fa fa-heart col-red"></i></a><span>224</span>
        <a href="#"><i class="fa fa-comment col-green"></i></a><span>89</span>
      </div> -->
    </div>
  </div>
</div>

<!-- Blogs -->
<div class="divider col-sm-12 col-xs-12 col-md-12">
  <div class="header-text">News</div>
</div>

<div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
  {% for post in site.posts limit:2 %}
  <div class="blog-event">
    <div class="featured-img">
      <img src="{{post.feature_image}}" width="150" alt="">
    </div>
    <div class="featured-blog">
      <h3>{{post.title}}</h3>
      <p>{{post.exceprt}}</p>
      <a href="{{ post.url }}">
        <button class="button-info">Read More</button>
      </a>
    </div>
  </div>

  {% endfor %}
</div>

<!-- subscribe -->
<div class="col-md-4 col-lg-4 subscribe-form">
  <div class="subscribe">
    <h4>Subscribe to Newsletter</h4>
      <div class="email-field">
        <form action="">
           <div class="email-input">
             <input type="email" placeholder="Enter your email..." required>
             <i class="fa fa-check col-green"></i>
           </div>
           <button type="submit" class="button-main bg-green">Submit</button>
        </form>
        <span></span>
      </div>
    </div>
</div>
