<footer id="footer">
  <div class="footer-content container">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul class="footer-menus">
        <li>- Home </li><br />
        <li>- <a href="about.html">About Unitarianism</a> </li><br />
        <li>- Resources </li><br />
        <li>- Get Involved </li><br />
        <li>- Events </li><br />
        <li>- Contact</li><br />
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="social-block text-center">
        <div class="social-share">
          <i class="fa fa-2x fa-facebook"></i>
          <i class="fa fa-2x  fa-twitter"></i>
          <!-- <i class="fa fa-2x  fa-google-plus"></i> -->
          <!-- <i class="fa fa-2x  fa-instagram"></i> -->
        </div>
      </div>
      <!-- <p class="text-center footer-text1">123 456 7890</p> -->
      <p class="text-center footer-text1">contact@thaiunitarians.org</p>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4">
      <h4>Unitarians in Thailand</h4>
      <div class="white">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
          This website and all its contents are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </div>
  <div class="move-top-page">
</div>
</footer>
