<footer id="footer">
  <div class="footer-content container">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul class="footer-menus">
        <li>- หน้าหลัก </li><br />
        <li>- เกี่ยวกับยูนิทาเรียน </li><br />
        <li>- คลังข้อมูล </li><br />
        <li>- การมีส่วนร่วม </li><br />
        <li>- กิจกรรม </li><br />
        <li>- ติดต่อ</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="social-block text-center">
        <div class="social-share">
          <i class="fa fa-2x fa-facebook"></i>
          <i class="fa fa-2x  fa-twitter"></i>
          <!-- <i class="fa fa-2x  fa-google-plus"></i> -->
          <!-- <i class="fa fa-2x  fa-instagram"></i> -->
        </div>
      </div>
      <!-- <p class="text-center footer-text1">123 456 7890</p> -->
      <p class="text-center footer-text1">contact@thaiunitarians.org</p>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4">
      <h4>กลุ่มยูนิทาเรี่ยนในประเทศไทย</h4>
      <div class="white">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
          เนื้อหาทั้งหมดบนเว็บไซต์นี้ใช้ <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา-อนุญาตแบบเดียวกัน 4.0 International</a>
      </div>
    </div>
  </div>
  <div class="move-top-page">
</div>
</footer>
