<div class="header container">
  <div class="visible-xs visible-sm col-xs-12 col-sm-12 text-center sm-logo">
    <a rel="home" href="index.html">
      <img src="{{ site.baseurl }}/img/logo.png" width="200" alt="logo">
    </a>
  </div>
</div>
<div class="navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="selected"><a href="index.html">Home</a></li>
      <li><a href="about.html">About Unitarianism</a></li>
      <li><a href="resources.html">Resouces</a></li>
      <li class= "hidden-xs hidden-sm">
        <a class="logo" rel="home" href="index.html"><img src="{{ site.baseurl }}/img/logo.png" width="200" alt="logo"></a>
      </li>
      <li><a href="get-involved.html">Get Involved</a></li>
      <li><a href="event.html">Events</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</div>
<div class="language-switcher">
  <button onclick='window.location.href = "th"+window.location.pathname'>ภาษาไทย</button>
</div>
