<div class="poster" >
        <div>
            <img id="posterImage" class="poster-image" src="{{ site.url }}/img/slide1-th.jpg" alt="">
        </div>
    
        <script>
            const posterNumber = Math.ceil(Math.random()*3);
            if (posterNumber==1){
                document.getElementById("posterImage").src="{{ site.url }}/img/slide1-th.jpg"
            }else if(posterNumber==2){
                document.getElementById("posterImage").src="{{ site.url }}/img/slide2-th.jpg"
            }else if(posterNumber==3){
                document.getElementById("posterImage").src="{{ site.url }}/img/slide3-th.jpg"
            }    
        </script>
    </div>
          
          