<div class="poster" >
    <div>
        <img id="posterImage" class="poster-image" src="{{ site.url }}/img/slide1-en.jpg" alt="">
    </div>

    <script>
        const posterNumber = Math.ceil(Math.random()*3);
        if (posterNumber==1){
            document.getElementById("posterImage").src="{{ site.url }}/img/slide1-en.jpg"
        }else if(posterNumber==2){
            document.getElementById("posterImage").src="{{ site.url }}/img/slide2-en.jpg"
        }else if(posterNumber==3){
            document.getElementById("posterImage").src="{{ site.url }}/img/slide3-en.jpg"
        }    
    </script>
</div>
      
      